<tui-doc-main>
    <ng-container ngProjectAs="tuiDocHeader">
        <!-- TODO: (Taiga UI migration) TuiMode has been removed. Please use tuiTheme attribute to set theme https://taiga-ui.dev/directives/theme -->
        <a
            href="https://github.com/taiga-family/microzord"
            target="_blank"
            tuiLink
            tuiTheme="light"
            class="link"
        >
            <img
                alt=""
                src="assets/images/github.svg"
                class="github"
            />
            GitHub
        </a>
    </ng-container>
</tui-doc-main>
